<!DOCTYPE html>
<html ng-app="app">
<head>
	<meta charset="utf-8">
	<title>Curso AngularJS - Devmedia</title>
</head>
<body ng-controller="aula07Controller">

	<ul>
		<li ng-repeat="nome in nomes">{{ nome }}</li>
	</ul>

	<input type="text" id="nomePessoa"></input>
	<input type="text" id="idadePessoa"  ></input>
	<button type="button" ng-click="adicionarPessoa()">Adicionar</button>


	<ul>
		<li ng-repeat="pessoa in pessoas">{{pessoa.nome}} - {{pessoa.idade}}</li>
	</ul>

	<script src="js/angular/angular.min.js"></script>
	<script src="js/app.module.js"></script>

	<!-- Controllers -->
	<script src="js/aula07Controller.js"></script>
</body>
</html>